<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form action="/api/registered" method="post">
    <input name="name" type="text" value="mmm">
    <input name="host" type="text" value="127.0.0.1">
    <input name="port" type="text" value="5824">
    <input type="submit" value="ok">
</form>

<form action="/api/ask" method="post">
    <input name="name" type="text" value="mmm">
    <input type="submit" value="ok">
</form>

<br>
<br>
<br>

{% for i in info %}
{{ i }}
<br>
{% endfor %}

</body>
</html>